h5py==2.7.1
# the original version of tensorflow(-gpu) is 1.3.0, 1.15.4 is OK and compatible with current GPU
tensorflow-gpu==1.15.4
# tensorflow==1.15.4
tensorflow-tensorboard==0.1.8
Keras==2.3.1 # keras-2.3.1 for multi_gpu_model
numpy==1.16.0 # numpy-1.16.0 for tensorflow-1.15.4
pandas
pygame
requests
tqdm